<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locadora de Veículos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="menu-superior">
            <ul>
                <li><a href="{{ url_for('index') }}">Aluguel de Carro</a></li>
                <li><a href="#">Seminovos</a></li>
                <li><a href="#">Carros por Assinatura</a></li>
            </ul>
        </nav>
        <h1>Bem-vindo à Locadora de Veículos!</h1>
    </header>
    <main>
        <h2>Categorias de Veículos</h2>
        <div class="categorias">
            {% for categoria in categorias %}
                <a href="{{ url_for('ver_categoria', categoria_nome=categoria) }}" class="categoria-card">
                    {{ categoria.capitalize() }}
                </a>
            {% endfor %}
        </div>
    </main>
</body>
</html>